@value spacing: '../../styles/config/spacing.module.css';

@value spacing_xxs, spacing_sm, spacing_lg from spacing;

.linkList {
  /* @TODO: Here for demonstration purposes */
  min-width: 300px;
}

.linkListList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkListItem {
  text-align: center;
}

.linkListItem + .linkListItem {
  margin-top: spacing_sm;
}

.linkListItemButton {
  padding: spacing_sm;
  border-radius: spacing_xxs;
}

.linkListItemButton:hover {
  filter: invert(100%);
  cursor: pointer;
}