@value spacing: '../../styles/config/spacing.module.css';
@value colors: '../../styles/config/colors.module.css';

@value spacing_sm from spacing;
@value grey200, grey300, grey400 from colors;

.pane {
  
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.line,
.link,
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link:hover {
  color: grey300;
  fill: grey300;
}

/* @TODO: Border should go to the edge of the panel */
.item {
  padding-top: spacing_sm;
  padding-bottom: spacing_sm;
  border-bottom: 1px solid grey200;
}

.itemIcon {
  fill: grey400;
  margin-right: spacing_sm;
}

.subtitle {
  margin-top: spacing_sm;
}
